<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" >
		<link rel="shortcut icon" href="/images/favicon.ico">
		<meta name="keywords" content="gracoro,グラコロ,グラころ,GravityCoroCoro,グラビティコロコロ,グラビティころころ,HTML5j,Node.js,Websocket,Box2d" />
		<meta name="description" content="GravityCoroCoroはHTML5j Japan Cupのために作成された最大30人で対戦できる新感覚ボールコロコロゲーム！さあ！隣のお友達を誘ってタイムアタックだ！" />
		<meta name="author" content="GravityCoroCoroTeam" />
		<meta name="robots" content="noindex,follow,noydir,noodp" />

		<title>GravityCoroCoro 新感覚ボールコロコロゲーム</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/libs/jquery/dist/jquery.min.js"></script>
		<script src="/libs/pixi/bin/pixi.js"></script>

		<script src="/javascripts/dist/srdm.js"></script>
		<script src="/javascripts/test.js"></script>
		<link rel="stylesheet" href="/stylesheets/gracoro.css" />
		<link rel="stylesheet" href="/stylesheets/gamedisplay.css" />
		<link rel="stylesheet" href="/stylesheets/gameaudio.css" />
		<link rel="stylesheet" href="/stylesheets/gamealert.css" />
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-51933657-1', 'gracoro.com');
		ga('require', 'displayfeatures');
		ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div class="game-body">
			<div class="game-display" id="game-display"></div>
		</div>
		<input type="hidden" value="<%= img %>" id="player-picture"/>
		<input type="hidden" value="<%= user %>" id="player-name"/>
		<input type="hidden" value="<%= type %>" id="player-type"/>
		<%/*
		<!--
			音源ファイル
			※「無料効果音」 様の素材をお借りしました。
			http://taira-komori.jpn.org/
		-->
		<div class="gameaudio">
			<audio src="audio/se_atack.mp3" id="se-atack" class="audio-file" data-key="atack" />
		</div>
		*/%>
	</body>
</html>