<!doctype html>
<html>
		<head>
				<meta charset="utf-8">
				<meta name="description" content="">
				<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
				<title>Untitled</title>
				<script src="/socket.io/socket.io.js"></script>
				<script src="/libs/jquery/dist/jquery.min.js"></script>
				<script src="/libs/pixi/bin/pixi.js"></script>

				<script src="/javascripts/dist/srdm.js"></script>
				<script src="/javascripts/test.js"></script>
		</head>
		<body>
			<div style="width: 800px; 600px;" id="game-display">
			</div>
		</body>
</html>