<!doctype html>
<html>
	<head>
			<meta charset="utf-8">
			<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
			<meta name="keywords" content="gravitycorocoro,グラコロ,gcc,html5j,japancup,seradama" />
			<meta name="description" content="GravityCoroCoroは最大300人で対戦できるボールコロコロゲームです。さあ一緒にコロコロライフを始めよう！" />
			<meta name="author" content="GravityCoroCoroTeam" />
			<meta name="robots" content="index,follow,noydir,noodp" />

			<title>GaravityCoroCoro</title>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/libs/jquery/dist/jquery.min.js"></script>
			<script src="/libs/pixi/bin/pixi.js"></script>

			<script src="/javascripts/dist/srdm.js"></script>
			<script src="/javascripts/test.js"></script>
			<style type="text/css" src="/stylesheets/gamedisplay.css"></style>
	</head>
	<body>
		<div class="game-title">グラビティコロコロ</div>
		<span class="game-body">
			<div class="game-display" id="game-display"></div>
		</span>
	</body>
</html>