<!doctype html>
<html>
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1.0; user-scalable=0;" >
			<meta name="keywords" content="グラビティコロコロ,gravitycorocoro,グラコロ,gracoro,html5j,seradama,ボール" />
			<meta name="description" content="グラビティコロコロは最大300人で対戦できる新感覚ボールコロコロゲームです。さあ一緒にグラコロを始めよう！" />
			<meta name="author" content="GravityCoroCoroTeam" />
			<meta name="robots" content="index,follow,noydir,noodp" />

			<title>グラビティコロコロ</title>
			<script src="/socket.io/socket.io.js"></script>
			<script src="/libs/jquery/dist/jquery.min.js"></script>
			<script src="/libs/pixi/bin/pixi.js"></script>

			<script src="/javascripts/dist/srdm.js"></script>
			<script src="/javascripts/test.js"></script>
			<link rel="stylesheet" href="/stylesheets/gamedisplay.css"></link>
			<link rel="stylesheet" href="/stylesheets/gameaudio.css"></link>
			<link rel="stylesheet" href="/stylesheets/gamealert.css" ></link>
	</head>
	<body>
		<!-- <div class="game-title">グラビティコロコロ</div> -->
		<div class="game-body">
			<div class="game-display" id="game-display"></div>
			<img src="<%= img %>"　id="<%= user %>"></img>
		</div>

		<%/*
		<!--
			音源ファイル
			※「無料効果音」 様の素材をお借りしました。
			http://taira-komori.jpn.org/
		-->
		<div class="gameaudio">
			<audio src="audio/se_atack.mp3" id="se-atack" class="audio-file" data-key="atack" />
		</div>
		*/%>
	</body>
</html>