<!doctype html>
<html>
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1.0; user-scalable=0;" >
			<meta name="keywords" content="グラビティコロコロ,gravitycorocoro,グラコロ,gracoro,html5j,seradama,ボール" />
			<meta name="description" content="グラビティコロコロは最大300人で対戦できる新感覚ボールコロコロゲームです。さあ一緒にグラコロを始めよう！" />
			<meta name="author" content="GravityCoroCoroTeam" />
			<meta name="robots" content="index,follow,noydir,noodp" />

			<title>グラビティコロコロ</title>
			<script src="/libs/jquery/dist/jquery.min.js"></script>
			<link rel="stylesheet" href="/stylesheets/gamedisplay.css"></link>
	</head>
	<body>
		<div class="game-body">
			<a class="" href="/auth/twitter">すごいauth認証</a>
			<a class="" href="/gracoro">すごいゲストログイン</a>
		</div>
	</body>
</html>