<!doctype html>
<html>
	<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1.0; user-scalable=0;" >
			<meta name="keywords" content="ぐらころ,グラコロ,gracoro,html5j,ボール,ころころ" />
			<meta name="description" content="ぐらころは最大300人で対戦できる新感覚ボールコロコロゲームです。さあ一緒にぐらころを始めよう！" />
			<meta name="author" content="GravityCoroCoroTeam" />
			<meta name="robots" content="index,follow,noydir,noodp" />

			<title>ぐらころ　新感覚ボールコロコロゲーム</title>
			<script src="/libs/jquery/dist/jquery.min.js"></script>
			<script src="/javascripts/top.js"></script>
			<link rel="stylesheet" href="/stylesheets/gracoro.css"></link>
			<link rel="stylesheet" href="/stylesheets/gametop.css"></link>
			<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="game-body">
			<div class="top-title">ぐらころ～ほんとうはもっとかっこいい感じ～</div>
			<div class="login-page">
				<i class="fa fa-times"></i>
				<ul class="login-index">
					<li><input type="text" class="guestname" autocomplete="on" maxlength="10" placeholder="YOUR NAME" require></input></li>
					<li><a class="login" href="/guest"><i class="fa fa-male"></i><span>ゲスト</span></a></li>
					<li><a class="login" href="/auth/twitter"><i class="fa fa-twitter-square fa-1g"></i><span>Twitter</span></a></li>
				</ul>
			</div>
			<ul class="top-index">
				<li><a class="start" href="#"><span>はじめる</span></a></li>
				<li><a class="tutrial" href="/tutrial"><span>チュートリアル</span></a></li>
			</ul>
			<div class="top-footer">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="guracoro" data-dnt="true"><i class="fa fa-twitter"></i><span id="tweetCount"></span></a>
				<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var tweetCount = function(id, url) {
		if (!id) {
			return;
		}
		var pageURL = url ? url : location.url;
		pageURL = encodeURI(pageURL);
		url = 'http://urls.api.twitter.com/1/urls/count.json?url=' + pageURL;
			$.ajax({
				url: url,
				dataType: 'jsonp',
				success: function(json) {
				var count;
				count = json.count ? json.count : 0;
				document.getElementById(id).innerHTML = count;
				}
			});
		};
		tweetCount('tweetCount', 'http://localhost');
	</script>
</html>