@charset "UTF-8";
/*-------------------------------------
CREDIT : GravityCoroCoro
CREATE : 2014.06.04
Var : 1.0
-------------------------------------*/

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: hidden;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

body .game-display {
	position: relative;
	width: 90%;
	height: 90%;
	margin: 0 auto 0 auto;
	padding: 60px 0 0 0;
}

body .game-body .game-display canvas {
	display: block;
	margin: 0 auto 0 auto;
}

a {
	color: #00B7FF;
}

body .game-body .game-controller {
	display: none;
	position: fixed;
	bottom: 30px;
	left: 50%;
	right: 50%;
	margin-left: -50px;
	background: #888;
	opacity: 0.7;
	width: 100px;
	height: 100px;
}
body.game-body .game-controller canvas {
	z-index: 1000;
}

body .gracoro.modal-overlay {
	background: #888;
	opacity: 0.8;
	z-index: 1001;
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
}

body .gracoro.modal {
	display:none;
	width: 70%;
	min-height: 100px;
	top: 30px;
	left: 50%;
	margin-left: -35%;
	position: absolute;
	padding: 10px;
	background: #333;
	color: #fff;
	z-index: 1002;
	border: 1px solid #ddd;
	border-radius: 10px;
}

body .gracoro.modal.show {
	display:block;
}

body .gracoro.modal header {
	font-size: 1.2em;
	margin-bottom: 10px;
}

body .gracoro.modal section {
	font-size: 0.8em;
}
body .gracoro.modal section .md-text {
	margin-top:2px;
	margin-bottom: 2px;
}

body .gracoro.modal section .xs-text {
	font-size: 0.7em;
}

body .gracoro.modal footer {
	text-align: right;
	margin-top:10px;
}

body .gracoro.modal footer button.backbtn,
body .gracoro.modal footer a.backbtn {
	border: 1px solid #ddd;
	padding: 5px;
	font-size: 0.8em;
	text-decoration: none;
	background: #efefef;
	color: #222;
}

body .gracoro.modal footer button.backbtn:hover,
body .gracoro.modal footer a.backbtn:hover {
	cursor: pointer;
}