@charset "UTF-8";
/*-------------------------------------
CREDIT : GravityCoroCoro
CREATE : 2014.06.04
Var : 1.0
-------------------------------------*/
body .top-title {
	padding-top: 30px;
	font-size: 100px;
	width: 100%;
	text-align: center;
}

body .login {
	width: 100%;
	text-align: center;
}

body a:hover {
	opacity:0.8;
}
body .top-index {
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
}
body .top-index li {
	margin: 20px;
}
body .top-index .start {
	color: #ffffff;
	background: rgba(177, 192, 235, 0.80);
	border-radius: 7px;
	zoom: 1;
	width: 200px;
	padding: 6px;
	display: inline-block;
	text-decoration: none;
}

body .top-index .tutrial {
	color: #ffffff;
	background: rgba(240, 143, 143, 0.80);
	border-radius: 7px;
	zoom: 1;
	width: 200px;
	padding: 6px;
	display: inline-block;
	text-decoration: none;
}

body .login-page {
	display: none;
	position: absolute;
	left: 50%;
	background: rgba(177, 192, 235, 0.9);
	padding: 0 30px;
	margin-left: -146px;
	height: 200px;
	border-radius: 7px;
}

body .login-page .fa-times {
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 12px;
	color: #ffffff;
}

body .login-index {
	padding: 0;
	padding-top: 18px;
	margin: 0;
	text-align: center;
	list-style: none;
}
body .login-index li {
	margin: 10px;
}

body .login-index .guestname {
	width: 210px;
	height: 34px;
	border: #c2c2c2 1px solid;
	color: #AD9D9D;
	border-radius: 7px;
	text-align: center;
}

body .login-index .login {
	color: #ffffff;
	background: rgba(253, 253, 253, 0.44);
	border-radius: 7px;
	zoom: 1;
	width: 200px;
	padding: 6px;
	display: inline-block;
	text-decoration: none;
}

body .login-index .login i {
	padding-right: 6px;
}

body .twitter-share-button {
	text-decoration: none;
	color: #ffffff;
	background: rgba(177, 192, 235, 0.80);
	border-radius: 7px;
	padding: 5px 8px;
	font-size: 12px;
}
body .twitter-share-button i {
	padding-right: 5px;
}
body .top-footer {
	text-align: center;
	margin-bottom: 20px;
}
/*body .twitter-share-button #tweetCount {
	background-color:#ccc;
	border-radius:5px;
	position:relative;
}
 
body .twitter-share-button #tweetCount:after {
	border:10px solid transparent;
	border-right-color:#ccc;
	border-left-width:0;
	left:-10px;
	display:block;
	top:30px;
	position:absolute;
	width:30px;
}*/
