@charset "UTF-8";
/*-------------------------------------
CREDIT : GravityCoroCoro
CREATE : 2014.06.04
Var : 1.0
-------------------------------------*/
html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: hidden; 
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", sans-serif;
}

body .game-body {
	width: 100%;
	height: 100%;
	background: url(/texture/background/background-top.png)
}

:required {
	/*background-color: pink;*/
}