.game-header {
	position: fixed;
	width: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.game-header .content {
	background: #000;
	color: #fff;
	padding: 5px 10px;
	font-size: 1.0rem;
	font-size: 10px;
}

.game-header .content .fa {
	float: left;
}
.game-header .content .timescore {
	width: 65px;
	margin-left: 5px;
}

.float:after {
	clear: both;
	content: ".";
	visibility: hidden;
}

.float .pull-left {
	float: left;
}

.float .pull-right {
	float: right
}